<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Green Life</title>
</head>
<body>



	<nav class="navbar navbar-expand-md gl-navbar">
		<a href="#" class="navbar-brand">Гринлайф</a>
		<a href="tel:74956486958" class="navbar-brand mobile-phone"><img src="<%= require('./img/call.svg') %>" /></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#glNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon">
	    	<div class="toggler-icon-bar"></div>
	    	<div class="toggler-icon-bar"></div>
	    	<div class="toggler-icon-bar"></div>
	    </span>
	  </button>
	  <div class="collapse navbar-collapse" id="glNavbar">
	  	<ul class="navbar-nav mr-auto left-part">
	      <li class="nav-item dropdown">
	        <span 
	        	class="nav-link" 
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false"
	        >Бытовки</span>
	        <div class="dropdown-menu">
	        	<a class="dropdown-item" href="#">Склад</a>
	        	<a class="dropdown-item" href="#">Жилье</a>
	        	<a class="dropdown-item" href="#">Столовая</a>
	        	<a class="dropdown-item" href="#">Прорабская</a>
	        	<a class="dropdown-item" href="#">Раздевалка</a>
	        	<a class="dropdown-item" href="#">Пост охраны</a>
	        </div>
	      </li>
	      <li class="nav-item dropdown">
	        <span 
	        	class="nav-link"
	        	data-toggle="dropdown"
	        	role="button"
	        	aria-haspopus="true"
	        	aria-expanded="false"
	        >Услуги</span>
	        <div class="dropdown-menu">
	        	<span class="dropdown-item dropdown-section-title">Доставка и обслуживание</span>
	        	<a href="#" class="dropdown-item dropdown-section-item">Доставка</a>
	        	<a href="#" class="dropdown-item dropdown-section-item">Демонтаж</a>
	        	<div class="dropdown-divider"></div>
	        	<span class="dropdown-item dropdown-section-title">Дополнительные услуги</span>
	        	<a href="#" class="dropdown-item dropdown-section-item">Мобильные казармы</a>
	        	<a href="#" class="dropdown-item dropdown-section-item">Вахтовый городок</a>
	        </div>
	      </li>
	  	</ul>
	  	<ul class="navbar-nav right-part">
	      <li class="nav-item align-items-center gl-phone-item">
	        <div class="nav-link gl-phone"><img src="<%= require('./img/call.svg') %>" />+7 (495) 648-69-58</div>
	      </li>
			  <li class="nav-item dropdown gl-client-info">
			    <span 
			    	class="nav-link dropdown-toggle" 
			    	data-toggle="dropdown"
			    	role="button" 
			    	aria-haspopup="true" 
			    	aria-expanded="false"
			    ><img src="<%= require('./img/people.svg') %>" />Клиентский сервис</span>
			    <div class="dropdown-menu dropdown-menu-right">
			      <div class="dropdown-item gl-contact-info">
			      	<div class="dropdown-text">
			      		<div class="dropdown-text-left">
			      			<span class="dropdown-text-label">Офис в Химках:</span>
			      			<span>Ленинский проспект, д. 1, к. 1</span>
			      		</div>
			      		<div class="dropdown-text-right">
			      			<span class="dropdown-text-label">E-Mail</span>
			      			<span><a href="mailto:5081238@mail.ru">5081238@mail.ru</a></span>
			      		</div>
			      	</div>
			      </div>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item gl-load-co" href="#"><img src="<%= require('./img/download.svg') %>" />Загрузить наше КП</a>
			      <div class="dropdown-divider"></div>
			      <a class="dropdown-item" href="#">О компании</a>
			      <a class="dropdown-item" href="#">Условия аренды бытовок</a>
			      <a class="dropdown-item" href="#">Фотогалерея</a>
			      <a class="dropdown-item" href="#">Пресс-центр</a>
			      <a class="dropdown-item" href="#">Контакты</a>
			    </div>
			  </li>
			  <li class="nav-item dropdown gl-your-order">
			  	<span
			  		class="nav-link"
						data-toggle="dropdown"
						data-flip="true"
						role="button"
						aria-haspopup="true"
						aria-expanded="false"
			  	><img src="<%= require('./img/bag.svg') %>" />Ваш заказ</span>
			  	<div class="dropdown-menu dropdown-menu-right">
			  		<div class="gl-your-order-content">
							Вы еще ничего не добавили в заказ
			  		</div>
			  	</div>
			  </li>
	  	</ul>
	  </div>
	</nav>



	<div class="gl-first-screen">
		<video src="<%= require('./img/head_video.mp4') %>" autoplay loop muted></video>
		<div class="video-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h1>Гринлайф.</h1>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<p class="gl-section-primary">Арендуйте бытовки сейчас.</p>
					<p class="gl-section-secondary">С нами это так просто.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-3 scroll-down"><div class="scroll-down-inner"><img src="<%= require('./img/mouse.svg') %>" />Крутите вниз, чтобы узнать больше</div></div>
			</div>
		</div>
	</div>



	<div class="gl-racks">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="racks-slider gl-slider">
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-1.png') %>" alt=""></div>
								<div class="rack-name">Склад</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-2.png') %>" alt=""></div>
								<div class="rack-name">Жилье</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-3.png') %>" alt=""></div>
								<div class="rack-name">Раздевалка</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-4.png') %>" alt=""></div>
								<div class="rack-name">Прорабская</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-1.png') %>" alt=""></div>
								<div class="rack-name">Склад</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-2.png') %>" alt=""></div>
								<div class="rack-name">Жилье</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-3.png') %>" alt=""></div>
								<div class="rack-name">Раздевалка</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
						<div class="racks-slide slide">
							<div class="racks-slide-inner">
								<div class="rack-image"><img src="<%= require('./img/rack-slide-4.png') %>" alt=""></div>
								<div class="rack-name">Прорабская</div>
								<div class="rack-price">От 7500 руб</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="gl-racks-info">
		<div class="container">
			<div class="row gl-section-header">
				<div class="col-12">
					<a href="#" class="gl-section-button">Загрузить КП</a>
					<h2 class="gl-section-title">Бытовки</h2>
					<p class="gl-section-primary">Шесть типов.</p>
					<p class="gl-section-secondary">Подойдут на любой случай.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="#" class="rack-type">
						<div class="type-bg">
							<img src="<%= require('./img/racks-info-bg.jpg') %>" alt="">
						</div>
						<div class="type-bg-cover"></div>
						<div class="type-number">01</div>
						<p class="type-title gl-section-secondary">Склад</p>
						<p class="type-info">Оптимально подходит для организации как временного, так и постоянного склада хранения ценных вещей и складирования материалов.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="#" class="rack-type">
						<div class="type-bg">
							<img src="<%= require('./img/racks-info-bg-2.jpg') %>" alt="">
						</div>
						<div class="type-bg-cover"></div>
						<div class="type-number">02</div>
						<p class="type-title gl-section-secondary">Жилье</p>
						<p class="type-info">Временное жилье для рабочих, персонала. Использовать его можно как на строительных площадках, так и на других объектах.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="#" class="rack-type">
						<div class="type-bg">
							<img src="<%= require('./img/racks-info-bg.jpg') %>" alt="">
						</div>
						<div class="type-bg-cover"></div>
						<div class="type-number">03</div>
						<p class="type-title gl-section-secondary">Столовая</p>
						<p class="type-info">Столовая для рабочих. Комплектация бытовки включает в себя все необходимое для организации столовой на 8 человек.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="#" class="rack-type">
						<div class="type-bg">
							<img src="<%= require('./img/racks-info-bg.jpg') %>" alt="">
						</div>
						<div class="type-bg-cover"></div>
						<div class="type-number">04</div>
						<p class="type-title gl-section-secondary">Прорабская</p>
						<p class="type-info">Полностью готовые к использованию прорабские бытовки, которые поставляются с комплектом необходимой мебели.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="#" class="rack-type">
						<div class="type-bg">
							<img src="<%= require('./img/racks-info-bg.jpg') %>" alt="">
						</div>
						<div class="type-bg-cover"></div>
						<div class="type-number">05</div>
						<p class="type-title gl-section-secondary">Раздевалка</p>
						<p class="type-info">Самое легкое решение бытовых вопросов в “полевых” условиях. Максимально комфортные условия труда для вашего персонала.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<a href="#" class="rack-type">
						<div class="type-bg">
							<img src="<%= require('./img/racks-info-bg.jpg') %>" alt="">
						</div>
						<div class="type-bg-cover"></div>
						<div class="type-number">06</div>
						<p class="type-title gl-section-secondary">Пост охраны</p>
						<p class="type-info">Может использоваться для организации поста охраны, организации мини офиса, или в качестве жилой бытовки для размещения 2-3 человек.</p>
					</a>
				</div>
			</div>
		</div>
	</div>



	<div class="gl-racks-terms">
		<div class="container">
			<div class="row gl-section-header">
				<div class="col-12">
					<a href="#" class="gl-section-button">Просмотреть все условия</a>
					<h2 class="gl-section-title">Условия аренды</h2>
					<p class="gl-section-primary">Бытовка в день заказа.</p>
					<p class="gl-section-secondary">Простые и выгодные условия</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<div class="rack-term">
						<div class="rack-term-header"><span>Фиксированная </span><span class="gl-f-c-green gl-f-reg">цена</span></div>
						<div class="rack-term-desc">Арендная цена на наши бытовки является фиксированной на весь срок аренды.</div>
						<div class="rack-term-folder"><span>&plus;</span></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="rack-term">
						<div class="rack-term-header"><span>Доставляем </span><span class="gl-f-c-green gl-f-reg">в день заказа</span></div>
						<div class="rack-term-desc">Мы предлагаем доставку в день заказа, включающую в себя транспортные и погрузочно-разгрузочные работы.</div>
						<div class="rack-term-folder"><span>&plus;</span></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="rack-term">
						<div class="rack-term-header"><span>Вносить </span><span class="gl-f-c-green gl-f-reg">залог не нужно</span></div>
						<div class="rack-term-desc">При заказе аренды у нас не нужно вносить залог, за арендуемые вами бытовки.</div>
						<div class="rack-term-folder"><span>&plus;</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="gl-racks-feats">
		<div class="container">
			<div class="row gl-section-header">
				<div class="col-12">
					<h2 class="gl-section-title">Преимущества</h2>
					<p class="gl-section-primary">Практичные, экологичные</p>
					<p class="gl-section-secondary">Все плюсы налицо.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-1.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Выгодно</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">Бытовки оснащены мебелью, но вы за нее не платите.<br />Не покупаете и не думаете куда ее девать по окончании срока аренды.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-2.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Экологично</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">Бытовки изготовлены из природных материалов, работать и жить в них безопасно для здоровья. При нагревании на солнце не выделяются токсичные вещества.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-3.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Комфортно</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">В бытовках круглый год сохраняется комфортная температура.<br />Они не перегреваются летом и сохраняют тепло зимой.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-4.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Тепло</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">Мы основательно утепляем все бытовки. Стены, пол и потолок утепляются, чтобы вы комфортно работали и отдыхали когда на улице -30-35<sup>о</sup>С.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-5.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Оперативно</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">Бытовки готовы к использованию.<br />Установка бытовок на объекте занимает всего 20 минут. У нас свои грузовые авто с манипулятором, мы сами можем привезти и установить бытовки.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-6.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Компактно</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">Крыша бытовок усилена, что позволяет устанавливать их в два этажа.<br />Вы экономите место на строительной площадке, часто это очень важно.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-7.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Быстро</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">Вам не придется тратить много времени на оформление заказа. Всего 10 минут и заказ сделан.</p>
				</div>
			</div>
			<div class="row racks-feat">
				<div class="col-lg-3 col-md-4 col-sm-4 col-5 ml-auto">
					<div class="feat-title">
						<img src="<%= require('./img/feats-8.svg') %>" alt="" class="feat-title-icon">
						<div class="feat-title-title">Два размера</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-8 col-sm-8 col-7 mr-auto">
					<p class="feat-desc">Мы продаем бытовки двух самых оптимальных размеров. Первый – 2500 x 3000 подходит для небольших помещений, вроде поста охраны или небольшого офиса. Второй – 2400 x 6000 подойдет, как для бытовых нужд, вроде столовой, или раздевалки, так и для полноценной жилой комнаты, в которой смогут разместиться до 6 человек.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-3 hidden-sm"></div>
				<div class="col-lg-3 col-md-4 col-5">
					<div class="rack-size rs-small"><span class="size">2500&times;<br />3000</span><span class="measure">Сантиметров</span></div>
				</div>
				<div class="col-lg-4 col-md-5 col-7">
					<div class="rack-size rs-big"><span class="size">2400&times;<br />6000</span><span class="measure">Сантиметров</span></div>
				</div>
			</div>
		</div>
	</div>



	<div class="gl-partners">
		<div class="container">
			<div class="row gl-section-header">
				<div class="col-12">
					<h2 class="gl-section-title">Партнеры</h2>
					<p class="gl-section-primary">Работаем с лидерами рынка.</p>
					<p class="gl-section-secondary">Подтверждаем рекомендательными письмами</p>
				</div>
			</div>
			<div class="row">
				<a href="#" class="col-lg-3 col-md-6 col-sm-6 partner">
					<img src="<%= require('./img/partner-logo-1.png') %>" alt="" class="partner-logo">
					<div class="delimiter"></div>
					<p class="partner-desc">Рекомендательное письмо от компании Абада</p>
				</a>
				<a href="#" class="col-lg-3 col-md-6 col-sm-6 partner">
					<img src="<%= require('./img/partner-logo-2.png') %>" alt="" class="partner-logo">
					<div class="delimiter"></div>
					<p class="partner-desc">Рекомендательное письмо от группы компаний ПИК</p>
				</a>
				<a href="#" class="col-lg-3 col-md-6 col-sm-6 partner">
					<img src="<%= require('./img/partner-logo-3.png') %>" alt="" class="partner-logo">
					<div class="delimiter"></div>
					<p class="partner-desc">Рекомендательное письмо от компании ПромСтройСервис</p>
				</a>
				<a href="#" class="col-lg-3 col-md-6 col-sm-6 partner">
					<img src="<%= require('./img/partner-logo-4.png') %>" alt="" class="partner-logo">
					<div class="delimiter"></div>
					<p class="partner-desc">Рекомендательное письмо от компании ООО "РусСтройГруп"</p>
				</a>
			</div>
		</div>
	</div>



	<div class="gl-gallery">
		<div class="container">
			<div class="row gl-section-header">
				<div class="col-12">
					<a href="#" class="gl-section-button">Просмотреть все фото</a>
					<h2 class="gl-section-title">Фотогалерея</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="gallery-slider gl-slider">
						<div class="gallery-slide slide"><img src="<%= require('./img/gallery-photo-1.jpg') %>" alt=""></div>
						<div class="gallery-slide slide"><img src="<%= require('./img/gallery-photo-2.jpg') %>" alt=""></div>
						<div class="gallery-slide slide"><img src="<%= require('./img/gallery-photo-3.jpg') %>" alt=""></div>
						<div class="gallery-slide slide"><img src="<%= require('./img/gallery-photo-1.jpg') %>" alt=""></div>
						<div class="gallery-slide slide"><img src="<%= require('./img/gallery-photo-2.jpg') %>" alt=""></div>
						<div class="gallery-slide slide"><img src="<%= require('./img/gallery-photo-3.jpg') %>" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	
	<div class="gl-map">
		<div class="container">
			<div class="row gl-section-header">
				<div class="col-12">
					<h2 class="gl-section-title">География работы</h2>
					<p class="gl-section-primary">По всей России.</p>
					<p class="gl-section-secondary">От Москвы до Владивостока.</p>
				</div>
			</div>
		</div>
		<div class="gl-google-map"></div>
	</div>



	<div class="gl-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h3><span class="gl-f-bold">Гринлайф. </span><span>Строительные бытовки</span></h3>
					<p class="all-rights-reserved">2007-2017. Все права защищены</p>
					<p class="gl-copyright">Разработано в Plan B</p>
					<a href="" class="gl-section-button">Загрузить КП</a>
				</div>
				<div class="col-lg-8 gl-sitemap">
					<div class="row">
						<div class="col-4">
							<h4 class="footer-menu-title">Бытовки</h4>
							<ul class="footer-menu">
								<li><a href="#">Склад</a></li>
								<li><a href="#">Жилье</a></li>
								<li><a href="#">Столовая</a></li>
								<li><a href="#">Прорабская</a></li>
								<li><a href="#">Раздевалка</a></li>
								<li><a href="#">Пост охраны</a></li>
							</ul>
						</div>
						<div class="col-4">
							<h4 class="footer-menu-title">Услуги</h4>
							<ul class="footer-menu">
								<li>
									<div class="footer-submenu-title">Доставка и обслуживание</div>
									<ul class="footer-submenu">
										<li><a href="#">Доставка</a></li>
										<li><a href="#">Демонтаж</a></li>
									</ul>
								</li>
								<li>
									<div class="footer-submenu-title">Дополнительные услуги</div>
									<ul class="footer-submenu">
										<li><a href="#">Мобильные казармы</a></li>
										<li><a href="#">Вахтовый городок</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-4">
							<h4 class="footer-menu-title">Клиентский сервис</h4>
							<ul class="footer-menu">
								<li><a href="#">О компании</a></li>
								<li><a href="#">Условия аренды бытовок</a></li>
								<li><a href="#">Фотогалерея</a></li>
								<li><a href="#">Пресс-центр</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>
</html>